.logo {
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  padding: 20px;
}
audio {
  outline: none;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  display: none;
}
.song-title {
  text-align: center;
  font-size: 24px;
}
ul {
  padding: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
li:hover {
  background: #ccc;
}
#root {
  width: 100%;
}
.player-controls {
  width: 100%;
  max-width: 165px;
  margin: 15px auto;
}
.player-controls img {
  max-width: 50px;
}
.small-play-icon {
  width: 12px;
}
.sound-wave {
  width: 35px;
  position: absolute;
  top: -5px;
  left: 20px;
}
.full-playlist {
  background: #f7f7f7;
}
.author {
  display: block;
  font-size: 14px;
  color:#777;
}
.wave-container {
  position: relative;
}
.track-title {
  font-weight: 500;
}